<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghan.dao.ScenicMapper">
    <select id="getTotal" parameterType="String" resultType="int">
        select COUNT(*) from g_scenic
        <where>
            <if test="keywords!=null">
                name_cn like "%"#{keywords}"%"
            </if>
        </where>
    </select>
    <select id="getScenics" parameterType="int" resultType="java.util.Map">
        select scenic_id,description,name_cn,location,default_photo from g_scenic order by scenic_level limit ${start},10;
    </select>
    <select id="getAllScenics" resultType="java.util.Map">
        select scenic_id,name_cn,location,level_for_order from g_scenic
    </select>
    <select id="getInfoById" parameterType="String" resultType="java.util.Map">
        select scenic_id,name_cn,location,description,default_photo,f_count from g_scenic where scenic_id=#{id}
    </select>
    <select id="search" resultType="java.util.Map">
        select scenic_id,description,name_cn,location,default_photo from g_scenic where name_cn like "%"#{keywords}"%" order by scenic_level limit ${start},10
    </select>
    <update id="increase" parameterType="String">
        update g_scenic set f_count=f_count+1 where scenic_id=#{id}
    </update>
    <select id="selectByIds" resultType="java.util.Map">
        select scenic_id,name_cn,location from g_scenic where scenic_id in 
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getDataSource" resultType="java.util.Map">
        select scenic_id,name_cn,location,f_count from g_scenic order by f_count desc limit 0,10
    </select>
</mapper>