* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #778ca3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  background-color: #fff;
}

select {
  background-color: #fff;
}

option {
  background-color: #fff;
}

.view {
  float: left;
  color: #353b48;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
}
@media screen and (max-width: 768px) {
  .view {
    width: 100vw;
  }
}
@media screen and (min-width: 769px) {
  .view {
    width: calc(100vw - 300px);
  }
}
@media screen and (min-width: 993px) {
  .view {
    width: calc(100vw - 300px);
  }
}
@media screen and (min-width: 1201px) {
  .view {
    width: calc(100vw - 300px);
  }
}
.header {
  position: sticky;
  top: 0;
  text-align: center;
  height: 3em;
  line-height: 3em;
  background-color: inherit;
  border-bottom: 1.5px solid rgba(100, 100, 100, 0.5);
}